<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DilOgrenmeApp.UI.WinForm.Properties.Settings.DilOgrenmeOtomasyonConnectionString"
            connectionString="Data Source=DESKTOP-K2NN6MN\SQL_2014;Initial Catalog=DilOgrenmeOtomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>